/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F9F9F7;
}

.px-5 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.sub-title, .title {
    font-family: "Playfair Display";
    font-size: 48px;
}

.title {
    font-size: 64px !important;
}
