input {
    width: 40vh;
    height: 4vh;
}

.btn {
    width: 20vh;
    height: 4vh;
    border-radius: 15px;
    margin: 0 20px 0 20px;
}

.title {
    font-style: italic;
}

.form-group p {
    font-weight: bold;
}

img {
    max-width: 250px;
}

.description {
    max-width: 200px;
}